body main section ol li{
   list-style: none;
   display: inline-block;
   margin-right: 20px;
   text-decoration: none;
 }

 body{
   font-family: sans-serif;
   background-color: yellow;

 }

 header{
    background-color: white;
    width: 960px;
    margin: 0 auto;

  }
