body main section ol li{
   list-style: none;
   display: inline-block;
   width: 1000px;
   margin-left: 500px;
   margin-right: 200px;


 }


h1{
   font-family: monospace;
   background-color: blue;
   width: 960px;
    margin: 0 auto;

 }

 h2 {
   font-family: cursive;
 }

header{
  width: 960px;
  margin: 0 auto;
  background-color: yellow;

}

main{
    background-color: purple;
}

a{
  text-decoration: none;

}

img {
  margin: 0 augto;

}

address{
    width: 960px;
    margin: 0 auto;

}
