body main section ol li{
   list-style: none;
   display: inline-block;
   margin-right: 20px;
   list-style: none;
    text-decoration: none;
 }

 body{
   font-family: sans-serif;
   background-color: yellow;

 }

 h2 {
    color: blue;
    font-family: 'Indie Flower', cursive;
    margin: 0 auto;
    
  }
