ol li{
  list-style: none;
  display: inline-block;
  margin: 0 auto;


}

a{
  text-decoration: none;
  color: red;
  margin: 0 auto;


}

a:hover {
  color: red;

}



#videos {

  height: auto;
  margin: 0 augto;
  display: grid;
  grid-template-rows: 460 460px 460px 460px;
  grid-template-columns: 420px;
  grid-column-gap: 200px;

 }
