ol li a{
  text-decoration: none;
  font-size: 50px;
  font-style: oblique;


}

ol li {
  list-style: none;
  display: inline-block;
  width: 150px;


}

h1 {
  position: relative;
  left: 30%;

}


a:hover {
  color: red;

}





#about {
  position: relative;
  left: 9%;



  }

  #musicnav {
    color: blue;
    margin-left: 24%;
    margin-top: 2%;

  }

  #homenav {
    position: absolute;
     margin-left:48%;
     margin-top: -10%;

  }


  #scorenav {
      margin-left: 32%;
  }

  #topmusic {
    font-size: 24px;
    margin-right: 26%;
    margin-left: 2%;


  }

  .main {
    margin-left: 3%;

  }

#videos {

  height: auto;
  position: relative;
  left: 13%;
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 420px 420px;
  grid-column-gap: 200px 280px;
